@mixin mQ($width) {
    @media (min-width: $width) {
        @content;
    }
}
@mixin mQWH($width, $height) {
    @media (min-width: $width) and (min-height: $height) {
        @content;
    }
}

$gradientColorBody: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    #f4eeee
);
$gradientColor: linear-gradient(to bottom right, rgb(1, 12, 97), #005bbc);

// general
body {
    margin: auto;
    padding: 0;
    max-width: 110em;
    background-color: rgb(220, 220, 220);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    .body-container {
        background-image: $gradientColorBody;
        box-shadow: 0em 2em 2em 0em gray;
        // wrapping the section
        .body-container-wrapper {
            margin: 0 1em;
            @include mQ(30em) {
                margin: 0 1.5em;
            }
            @include mQ(50em) {
                margin: 0 2.5em;
            }
        }
    }

    header {
        background-image: $gradientColor;
        height: 4em;
        position: sticky;
        top: 0;
        z-index: 2;

        .mobile-nav-true {
            text-align: right;
            @include mQ(60em) {
                display: none;
            }
        }
        .mobile-nav-false {
            display: none;
            .nav-link {
                text-decoration: none;
                color: white;
                font-size: 2.5em;
                padding: 0 1em;
                &:hover {
                    color: black;
                }
            }
            @include mQ(60em) {
                display: block;
                margin-right: 0;
                text-align: right;
            }
        }
    }
}

// header nov box own component
.mobile-drawer {
    @include mQ(60em) {
        display: none;
    }
    .mobile-drawer-header {
        height: 4em;
        background-color: darken(#005bbc, 4);
    }
}

// repeat navlink
.nav-link {
    font-family: cursive;
    font-style: italic;
    text-decoration: none;
    font-size: 2em;
    color: #023d7c;
    &:hover {
        color: black;
    }
}

// for dashboard
.nav-link-public-true {
    color: black;
    &:hover {
        color: lightsteelblue;
    }
}
.nav-link-public-false {
    color: red;
    &:hover {
        color: lightsteelblue;
    }
}

footer {
    background-image: $gradientColor;
    text-align: center;
    color: white;
    font-family: cursive;
    // color: darken($color: white, $amount: 10);
    a {
        padding: 0 0.3em;
        // height: 3em
    }
    .footer-2 {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-items: left;
        .footer-subscribe-button {
            justify-self: right;
        }
    }
}

.comment-body {
    display: grid;
    grid-template-columns: 3.5em 1fr;
    // grid-template-rows: minmax(3em, 5em);
    .comment-body-image {
        border-radius: 10em;
        height: 2.5em;
        width: 2.5em;
        // border-color: blue;
    }
}

// contact page
.contact-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
    grid-gap: 3em;
}

// react markdown articles
// article page :slug
article {
    img {
        width: 20em;
    }
    // the list will push the margin out so have to resize the img no overflow
    ol {
        li {
            img {
                width: 16em;
            }
        }
    }
}

//DASHBOARD

.dashboard-main {
    @include mQ(50em) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.dashboard-article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
}

.dashboard-card-create {
    background-color: rgb(249, 172, 185);
    border: 1px dotted blue;
    &:hover {
        opacity: 0.8;
    }
}

.dashboard-article-create-top-section {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
    .dashboard-article-create-section {
        border: 10px solid green;
    }
    .dashboard-article-create-section-public {
        border: 10px solid black;
    }
    .dashboard-article-create-section-private {
        border: 10px solid red;
    }
    .dashboard-article-create-section,
    .dashboard-article-create-section-public,
    .dashboard-article-create-section-private {
        // display: inline-block;
        // margin: 1em 1em 0 0;
        height: 11em;
        width: 11em;
        background-color: white;
        .nav-link {
            position: relative;
            top: 15%;
            // -webkit-transform: translateY(-50%);
            // -ms-transform: translateY(-50%);
            // transform: translateY(-50%);
            text-align: center;
        }
    }
}

.reel-body {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
    text-align: center;
    .ig-reel-image-false {
        border: 4px dashed red !important;
    }
    .ig-reel-image-false,
    .ig-reel-image-true {
        border-radius: 2em;
        &:hover {
            opacity: 0.7;
        }
    }
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21em;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 1em;
    @include mQ(30em) {
        width: 25em;
    }
    @include mQ(50em) {
        width: 28em;
    }
}

// this modal is for the article/:slug
.modal-box-2 {
    position: relative;
    margin: auto;
    // top: 50%;
    // bottom: 50%;
    width: 95vw;
    height: 75vh;
    border: 1px solid brown;
    max-width: 60em;
    @include mQ(50em) {
        height: 97vh;
    }
}
.modal-box-img {
    padding: 1em;
}

// modal button
.modal-button {
    padding: 1em;
}

// article cards
.article-body {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));

    .article-card-blog-false {
        border: 4px dashed red;
    }

    .article-card-blog-true,
    .article-card-blog-false {
        border-radius: 1em;
        height: 15em;
        @include mQ(30em) {
            height: 20em;
        }
        position: relative;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        color: white;
        text-align: center;
        .article-card-blog-body {
            // text-align: left;
            // opacity: 0.5;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 2em;
            background-color: rgba($color: #000000, $alpha: 0.4);
        }
        &:hover {
            opacity: 0.8;
            .article-card-blog-body {
                text-decoration: underline;
            }
        }
    }
}

.article-page-divider {
    @include mQ(60em) {
        display: grid;
        grid-template-columns: auto auto;
        // grid-template-columns: 2fr 1fr;
        grid-gap: 2em;
    }

    .article-ai-body {
        @include mQ(60em) {
            border-left: 1px solid gray;
            padding-left: 2em;
        }
        @include mQWH(60em, 40em) {
            position: sticky;
            height: 100vh;
            top: 4em;
        }

        .article-ai-card {
            display: grid;
            grid-gap: 1em;
            grid-template-rows: repeat(auto-fill, minmax(1em, 1fr));
            .card-media {
                width: 7em;
                @include mQ(60em) {
                    width: 5em;
                }
            }
            .article-item {
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        #ad-banner {
            height: 5em;
            width: 100%;
            color: black;
            background-color: red;
        }
    }
}

//home page reel wrapper
.ig-wrap-home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    grid-gap: 1em;

    #home-ig-reel-image {
        width: 100%;
        height: 10em;
    }

    @for $i from 0 through 10 {
        #ig-reel-image-#{$i} {
            display: none;
        }
    }
    #ig-reel-image-0,
    #ig-reel-image-1,
    #ig-reel-image-2 {
        display: block;
    }
    @for $i from 3 through 8 {
        $mediaQ: $i * 10em;
        @include mQ($mediaQ) {
            #ig-reel-image-#{$i} {
                display: block;
            }
        }
    }
}

.section-profile-about {
    display: grid;
    @include mQ(30em) {
        grid-gap: 2em;
        grid-template-columns: minmax(auto, 6.25em) 1fr;
    }
    .rounded-full {
        border-radius: 15em;
    }
}

.modal-subscribe {
    width: 16em;
    margin: 1em;
    height: 35em;
    @include mQ(30em) {
        width: 22em;
    }
    @include mQ(50em) {
        width: 30em;
    }
}

.modal-dashboardCreate{
    
}
